Lab3_4/files/Passenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Passenger">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="price" type="xs:int"/>
                <xs:element name="fuelConsumption" type="xs:float"/>
                <xs:element name="maxSpeed" type ="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>